include ../_config/_config.pug

head
	meta(charset="utf-8")
	meta(name="robots" content="noindex,nofollow")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="format-detection" content="telephone=no")
	meta(name="canonical" href=page.url)
	meta(name="description" content=page.description)
	meta(name="keywords" content=page.keywords)
	link(rel="shortcut icon" href=page.favicon)
	link(rel="apple-touch-icon", href=page.apple_touch_icon)
	link(href=css.wf_noto rel="stylesheet")
	link(href=css.reset rel="stylesheet")
	link(href=css.style rel="stylesheet")
	title !{page.title}
	if isContact
		script.
			var ua = navigator.userAgent.toLowerCase();
			var isiOS = (ua.indexOf('iphone') > -1) || (ua.indexOf('ipad') > -1);
			if(isiOS) {
			var viewport = document.querySelector('meta[name="viewport"]');
			if(viewport) {
			var viewportContent = viewport.getAttribute('content');
			viewport.setAttribute('content', viewportContent + ', user-scalable=no');
			}
			}
